In [63]:
PAF = 'RAT.elm'

In [64]:
PSP = 'psp_rat.xlsx'

In [65]:
import pandas as pd

paf_df = pd.read_table(PAF)
psp_df = pd.read_excel(PSP)

In [66]:
psp_df['Uniprot_and_site'] = psp_df['ACC_ID'].astype(str) + '_' + psp_df['MOD_RSD'].astype(str)

In [67]:
psp_df = psp_df[['Uniprot_and_site']].copy()

In [68]:
psp_df.head()

  Uniprot_and_site
0     P35213_Y21-p
1     P35213_S47-p
2     P35213_S60-p
3     P35213_S65-p
4    P35213_S132-p

In [69]:
paf_df['Uniprot_and_site'] = paf_df['Uniprot'] + '_' +  paf_df['Type'] + paf_df['Position'].astype(str) + '-p'

In [70]:
paf_df = paf_df[['Uniprot_and_site']].copy()

In [71]:
paf_df.head()

     Uniprot_and_site
0  A0A096MIS8_S1037-p
1   A0A096MIT8_S105-p
2   A0A096MIX0_S563-p
3   A0A096MIX2_S196-p
4   A0A096MIX2_T279-p

In [72]:
psp_df['is_in_paf'] = psp_df.Uniprot_and_site.isin(paf_df.Uniprot_and_site)
paf_df['is_in_psp'] = paf_df.Uniprot_and_site.isin(psp_df.Uniprot_and_site)

In [73]:
psp_df.tail()

           Uniprot_and_site is_in_paf
31439  XP_001080236_S1534-p     False
31440  XP_001080236_S1537-p     False
31441  XP_001080236_T2617-p     False
31442  XP_001080236_Y2621-p     False
31443  XP_001080236_Y2779-p     False

In [74]:
psp_df.head()

  Uniprot_and_site is_in_paf
0     P35213_Y21-p      True
1     P35213_S47-p      True
2     P35213_S60-p      True
3     P35213_S65-p      True
4    P35213_S132-p      True

In [76]:
psp_df.to_excel('db_compare/PSP_isin_dbPAF.xlsx', sheet_name='Sheet1', index=False)
paf_df.to_excel('_db_compare/dbPAF_isin_PSP.xlsx', sheet_name='Sheet1', index=False)

In [79]:
psp_df['truncated'] = psp_df['Uniprot_and_site'].str[2:-2]

In [80]:
psp_df.head()

  Uniprot_and_site is_in_paf  truncated
0     P35213_Y21-p      True   5213_Y21
1     P35213_S47-p      True   5213_S47
2     P35213_S60-p      True   5213_S60
3     P35213_S65-p      True   5213_S65
4    P35213_S132-p      True  5213_S132

In [81]:
string = 'SAGGREDSESPGTQRSNSSEASSGDFLDLKG'

In [82]:
string[8:-8]

'ESPGTQRSNSSEASS'